@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --background-1: rgba(0, 0, 0, 0.854);
  --prime-color: #ff0000;
  --secondary-color: #4bff2fac;
  --thirdly-color: #095ae6;
  --Fourth-color: #7600d6;
  --insta-color: #ff8e24;
  --secon_insta-color: #b366ff;
}

div#blur.active {
  filter: blur(30px);
  -webkit-filter: blur(30px);
  pointer-events: none;
  user-select: none;
}
/* ==============  Clients  ============== */

/* 1  Netflix */
.our-costumers_1 {
  background-color: var(--background);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 40px 0;
  margin-bottom: 100px;
  text-align: center;
}

.our-costumers_1 img {
  margin-top: 14px;
  width: 120px;
}
.our-costumers_1 .text-area_1 {
  color: black;
}

.our-costumers_1 .text-area_1 h4 {
  position: absolute;
}
.our-costumers_1 h2 {
  font-size: 35px;
}

.our-costumers_1 span {
  font-size: 45px;
  color: var(--prime-color);
}

.our-costumers_1 h3 {
  /* text-align: center; */
  font-size: 15px;
  color: rgba(28, 26, 26, 0.674);
}
.cleints_1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 2rem 0;
  padding: 20px;
  flex-wrap: wrap;
  gap: 1.2rem;
  border: 2px solid white;
}
.cleints_1 h2 {
  position: relative;
  color: rgb(0, 0, 0);
  margin: 30px;
  padding: 20px;
  font-size: 2.2rem;
  letter-spacing: 2px;
  font-weight: 700;
}

.cleints_1 .cleint_1 {
  --hue-1: 1;
  --hue-2: 111111111;
  border: 2.4px solid transparent;
  background: linear-gradient(rgba(254, 254, 254, 0.605), var(--background-1))
      padding-box,
    linear-gradient(
        135deg,
        hsl(var(--hue-1), 85%, 70%) 0%,
        rgb(255, 255, 255),
        rgb(255, 254, 254),
        hsl(var(--hue-2), 70%, 55%) 100%
      )
      border-box;
  width: 250px;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: 0.8s;
  overflow: hidden;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

.cleint_1:hover {
  opacity: 1;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background: linear-gradient(var(--prime-color), var(--background-1))
      padding-box,
    linear-gradient(
        135deg,
        hsl(var(--hue-1), 85%, 70%) 0%,
        var(--background-1),
        var(--background-1),
        hsl(var(--hue-2), 70%, 55%) 100%
      )
      border-box;
}

.cleint_1 h3 {
  color: black;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 700;
}

.cleint_1 h5 {
  color: black;
}

.cleint_1 h6 {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  padding: 1px;
  font-size: 10px;
  color: #cfcfcfda;
  letter-spacing: 1px;
  margin: 5px;
}

.cleints_1 .cleint_1 h6 i {
  font-size: 11px;
  color: var(--prime-color);
}

.our-costumers_1 a {
  letter-spacing: 1px;
  padding: 5px 5px;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.8s;
  background: #ffffff;
  color: black;
  border: 1px solid var(--prime-color);
}

.our-costumers_1 a:hover {
  color: rgba(255, 255, 255, 0.463);
  background-color: rgb(253, 75, 75);
  border: 1px solid rgb(255, 255, 255);
}
/* 2  Spotify*/

.our-costumers_2 {
  background-color: var(--background);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 40px 0;
  margin-bottom: 100px;
}

.our-costumers_2 img {
  width: 120px;
}
.our-costumers_2 .text-area_2 {
  color: black;
}

.our-costumers_2 .text-area_2 h4 {
  position: absolute;
}

.our-costumers_2 h2 {
  font-size: 35px;
}

.our-costumers_2 span {
  font-size: 45px;
  color: var(--secondary-color);
}

.our-costumers_2 h3 {
  text-align: center;
  font-size: 15px;
  color: rgba(28, 26, 26, 0.674);
}
.cleints_2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 2rem 0;
  padding: 20px;
  flex-wrap: wrap;
  gap: 1rem;
  border: 2px solid white;
}

.cleints_2 .cleint_2 {
  width: 250px;
  height: auto;
  border-radius: 10px;
  --hue-1: 100;
  --hue-2: 138;
  border: 2.4px solid transparent;
  background: linear-gradient(rgba(254, 254, 254, 0.605), var(--background-1))
      padding-box,
    linear-gradient(
        135deg,
        hsl(var(--hue-1), 85%, 70%) 0%,
        white,
        white,
        hsl(var(--hue-2), 70%, 55%) 100%
      )
      border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: 0.8s;
}

.cleint_2:hover {
  opacity: 1;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background: linear-gradient(var(--secondary-color), var(--background-1))
      padding-box,
    linear-gradient(
        135deg,
        hsl(var(--hue-1), 85%, 70%) 0%,
        white,
        white,
        hsl(var(--hue-2), 70%, 55%) 100%
      )
      border-box;
}

.cleint_2 h3 {
  color: black;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-bottom: 5px;
  font-weight: bold;
}

.cleint_2 h5 {
  color: black;
}
.cleint_2 h6 {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  gap: 5px;
  padding: 1px;
  font-size: 10px;
  color: #cfcfcfda;
  letter-spacing: 1px;
  margin: 5px;
}

.cleints_2 .cleint_2 h6 i {
  font-size: 11px;
  color: var(--secondary-color);
}

.our-costumers_2 a {
  letter-spacing: 1px;
  padding: 5px 5px;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.8s;
  background: white;
  color: black;
  border: 1px solid var(--secondary-color);
}

.our-costumers_2 a:hover {
  color: rgba(255, 255, 255, 0.463);
  background-color: #4bff2fac;
  border: 1px solid black;
}

/* 3  Disney*/

/* .our-costumers_3 {
  background-color: var(--background);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 40px 0;
  margin-bottom: 100px;
  text-align: center;
}

.our-costumers_3 img {
  margin-top: 14px;
  width: 120px;
}
.our-costumers_3 .text-area_3 {
  color: white;
}

.our-costumers_3 .text-area_3 h4 {
  position: absolute;
}
.our-costumers_3 h2 {
  font-size: 35px;
}

.our-costumers_3 span {
  font-size: 45px;
  color: var(--thirdly-color);
}

.our-costumers_3 h3 {
  text-align: center;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.468);
}
.cleints_3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 2rem 0;
  flex-wrap: wrap;
  gap: 1rem;
}

.cleints_3 .cleint_3 {
  --hue-1: 210;
  --hue-2: 238;
  border: 2.4px solid transparent;
  background: linear-gradient(rgba(0, 0, 0, 0.605), var(--background))
      padding-box,
    linear-gradient(
        135deg,
        hsl(var(--hue-1), 85%, 70%) 0%,
        var(--background),
        var(--background),
        hsl(var(--hue-2), 70%, 55%) 100%
      )
      border-box;
  width: 250px;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: 0.8s;
  overflow: hidden;
}

.cleint_3:hover {
  opacity: 1;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background: linear-gradient(var(--thirdly-color), var(--background))
      padding-box,
    linear-gradient(
        135deg,
        hsl(var(--hue-1), 85%, 70%) 0%,
        var(--background),
        var(--background),
        hsl(var(--hue-2), 70%, 55%) 100%
      )
      border-box;
}

.cleint_3 h3 {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 700;
}

.cleint_3 h6 {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  padding: 1px;
  font-size: 10px;
  color: #cfcfcfda;
  letter-spacing: 1px;
  margin: 5px;
}

.cleints_3 .cleint_3 h6 i {
  font-size: 11px;
  color: var(--thirdly-color);
}

.our-costumers_3 a {
  letter-spacing: 1px;
  padding: 5px 5px;
  margin: 10px;
  border-radius: 5px;
  transition: 0.8s;
  background: linear-gradient(93.87deg, #597bb6d7, #81879a);
  color: black;
  border: 1px solid var(--thirdly-color);
}

.our-costumers_3 a:hover {
  color: rgba(255, 255, 255, 0.463);
  background-color: var(--background);
  border: 1px solid rgb(255, 255, 255);
} */

/* 4  Shahid*/

.our-costumers_4 {
  background-color: var(--background);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 40px 0;
  margin-bottom: 100px;
  text-align: center;
}

.our-costumers_4 img {
  margin-top: 14px;
  width: 120px;
}
.our-costumers_4 .text-area_4 {
  color: black;
}

.our-costumers_4 .text-area_4 h4 {
  position: absolute;
}
.our-costumers_4 h2 {
  font-size: 35px;
}

.our-costumers_4 span {
  font-size: 45px;
  color: var(--Fourth-color);
}

.our-costumers_4 h3 {
  /* text-align: center; */
  font-size: 15px;
  color: rgba(28, 26, 26, 0.674);
}
.cleints_4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 2rem 0;
  padding: 20px;
  flex-wrap: wrap;
  gap: 1rem;
  border: 2px solid white;
}

.cleints_4 .cleint_4 {
  --hue-1: 22230;
  --hue-2: 23312;
  border: 2.4px solid transparent;
  background: linear-gradient(rgba(254, 254, 254, 0.605), var(--background-1))
      padding-box,
    linear-gradient(
        135deg,
        hsl(var(--hue-1), 85%, 70%) 0%,
        white,
        white,
        hsl(var(--hue-2), 70%, 55%) 100%
      )
      border-box;
  width: 250px;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: 0.8s;
  overflow: hidden;
}

.cleint_4:hover {
  opacity: 1;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background: linear-gradient(var(--Fourth-color), var(--background-1))
      padding-box,
    linear-gradient(
        135deg,
        hsl(var(--hue-1), 85%, 70%) 0%,
        white,
        white,
        hsl(var(--hue-2), 70%, 55%) 100%
      )
      border-box;
}

.cleint_4 h3 {
  color: black;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 700;
}
.cleint_4 h5 {
  color: black;
}

.cleint_4 h6 {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  padding: 1px;
  font-size: 10px;
  color: #cfcfcfda;
  letter-spacing: 1px;
  margin: 5px;
}

.cleints_4 .cleint_4 h6 i {
  font-size: 11px;
  color: var(--Fourth-color);
}

.our-costumers_4 a {
  letter-spacing: 1px;
  padding: 5px 5px;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.8s;
  background: white;
  color: black;
  border: 1px solid var(--Fourth-color);
}

.our-costumers_4 a:hover {
  color: rgba(255, 255, 255, 0.463);
  background-color: #7600d6;
  border: 1px solid rgb(255, 255, 255);
}

/* Media Stuff */

.our-costumers_5 {
  background-color: var(--background);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 40px 0;
  margin-bottom: 100px;
  text-align: center;
}

.our-costumers_5 img {
  margin-top: 14px;
  width: 120px;
}
.our-costumers_5 .text-area_5 {
  color: black;
}

.our-costumers_5 .text-area_5 h4 {
  position: absolute;
}
.our-costumers_5 h2 {
  font-size: 35px;
}

.our-costumers_5 span {
  font-size: 45px;
  color: rgb(104, 207, 241);
}

.our-costumers_5 h3 {
  /* text-align: center; */
  font-size: 15px;
  color: rgba(28, 26, 26, 0.674);
}

.cleints_5 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 2rem 0;
  padding: 20px;
  flex-wrap: wrap;
  gap: 1rem;
  border: 2px solid white;
}

/* youtube card */
.cleints_5 .cl1 {
  --hue-1: 1;
  --hue-2: 111111111;
  border: 2.4px solid transparent;
  background: linear-gradient(rgba(254, 254, 254, 0.605), var(--background-1))
      padding-box,
    linear-gradient(
        135deg,
        hsl(var(--hue-1), 85%, 70%) 0%,
        white,
        white,
        hsl(var(--hue-2), 70%, 55%) 100%
      )
      border-box;
  width: 250px;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: 0.8s;
  overflow: hidden;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

.cl1:hover {
  opacity: 1;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background: linear-gradient(var(--prime-color), var(--background-1))
      padding-box,
    linear-gradient(
        135deg,
        hsl(var(--hue-1), 85%, 70%) 0%,
        white,
        white,
        hsl(var(--hue-2), 70%, 55%) 100%
      )
      border-box;
}

.cl1 h3 {
  color: black;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 700;
}

.cl1 h6 {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  padding: 1px;
  font-size: 10px;
  color: #cfcfcfda;
  letter-spacing: 1px;
  margin: 5px;
}

.cleints_5 .cl1 h6 i {
  font-size: 11px;
  color: var(--prime-color);
}

.our-costumers_5 .cleints_5 .cl1 a {
  letter-spacing: 1px;
  padding: 5px 5px;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.8s;
  background: white;
  color: black;
  border: 1px solid var(--prime-color);
}

.our-costumers_5 .cleints_5 .cl1 a:hover {
  color: rgba(255, 255, 255, 0.463);
  background-color: var(--prime-color);
  border: 1px solid rgb(0, 0, 0);
}

/* instagram card */
.cleints_5 .cl2 {
  --hue-1: 20;
  --hue-2: 300;
  border: 2.4px solid transparent;
  background: linear-gradient(rgba(254, 254, 254, 0.605), var(--background-1))
      padding-box,
    linear-gradient(
        135deg,
        hsl(var(--hue-1), 85%, 70%) 0%,
        white,
        white,
        hsl(var(--hue-2), 70%, 55%) 100%
      )
      border-box;
  width: 250px;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: 0.8s;
  overflow: hidden;
}

.cl2:hover {
  opacity: 1;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background: linear-gradient(var(--insta-color), var(--secon_insta-color))
      padding-box,
    linear-gradient(
        135deg,
        hsl(var(--hue-1), 85%, 70%) 0%,
        white,
        white,
        hsl(var(--hue-2), 70%, 55%) 100%
      )
      border-box;
}

.cl2 h3 {
  color: black;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 700;
}

.cl2 h6 {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  padding: 1px;
  font-size: 10px;
  color: #cfcfcfda;
  letter-spacing: 1px;
  margin: 5px;
}

.cleints_5 .cl2 h6 i {
  font-size: 11px;
  color: var(--insta-color);
}

.our-costumers_5 .cleints_5 .cl2 a {
  letter-spacing: 1px;
  padding: 5px 5px;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.8s;
  background: white;
  color: black;
  border: 1px solid var(--insta-color);
}

.our-costumers_5 .cleints_5 .cl2 a:hover {
  color: rgba(255, 255, 255, 0.463);
  background-color: #ea810af7;
  border: 1px solid rgb(255, 255, 255);
}

/* media style */

/* youtube stuff */

#window {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  transform: translate(-50%, -50%) scale(0);
  background: var(--background);
  /* background-image: url(../achraf/images/background_window.png);
  background-repeat: no-repeat;
  background-size: cover; */
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -moz-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  -o-transform: translate(-50%, -50%) scale(0);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  display: none;
  box-shadow: 0 0 16px 0 black;
  visibility: hidden;
}

#window .close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #e4e4e4;
  color: #000;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#window.active {
  display: block;
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
  opacity: 1;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13.5%;
}
.hero .selector1 {
  position: absolute;
  top: 8%;
  left: 30%;
  height: 25%;
  width: 39%;
  background: transparent;
  text-decoration: none;
  color: black;
  padding: 30px;
  font-weight: 500;
  font-size: 1.5rem;
}
.selector1 .prixbuy a {
  font-family: "Poppins", sans-serif;
  color: white;
  background: white;
  text-transform: uppercase;
  position: relative;
  font-size: 0.5em;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-decoration: none;
  padding: 5px 10px;
  transition: 0.01s 0.23s ease-out all;
}
.selector1 .prixbuy a:hover {
  background: var(--primary-color);
  color: var(--primary-color);
  letter-spacing: 0.2em;
  box-shadow: 0 0 35px var(--primary-color);
}
.selector1 .prixbuy a::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #000000;
}
.selector1 .prixbuy a span {
  position: relative;
  z-index: 1;
}
.selector1 .prixbuy a i {
  position: absolute;
  inset: 0;
  display: block;
}
.selector1 .prixbuy a i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: #ffffff;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}
.selector1 .prixbuy a:hover i::before {
  left: 20%;
  width: 20px;
}
.selector1 .prixbuy a i::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background: #ffffff;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}
.selector1 .prixbuy a:hover i::after {
  left: 80%;
  width: 20px;
}
.signature {
  position: fixed;
  font-family: sans-serif;
  font-weight: 100;
  bottom: 10px;
  left: 0;
  letter-spacing: 4px;
  font-size: 10px;
  width: 100%;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
.selector {
  width: 380px;
  margin: 150px auto;
}

.selector #selectfield {
  position: relative;
  top: -130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  background: #fff;
  color: #000;
  font-size: 18px;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
#selectfield .icon-arrow {
  font-size: 25px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
#selectfield.active .icon-arrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.selector #list {
  position: absolute;
  width: 380px;
  transform: translateY(-140px);
  margin-top: 20px;
  -webkit-transform: translateY(-140px);
  -moz-transform: translateY(-140px);
  -ms-transform: translateY(-140px);
  -o-transform: translateY(-140px);
}
#list .option {
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
  background: #fff;
  padding: 0 16px;
  cursor: pointer;
  transform-origin: top;
  opacity: 0;
  transform: scale(0) translateY(-65px);
  margin-bottom: -55px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    margin-bottom 0.6s ease-in-out;
  transition-delay: calc(0.1s * var(--i));
  -webkit-transform: scale(0) translateY(-65px);
  -moz-transform: scale(0) translateY(-65px);
  -ms-transform: scale(0) translateY(-65px);
  -o-transform: scale(0) translateY(-65px);
  -webkit-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    margin-bottom 0.6s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    margin-bottom 0.6s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    margin-bottom 0.6s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    margin-bottom 0.6s ease-in-out;
}
#selectfield.active ~ #list .option {
  transition: opacity 1s ease-in-out, transform 0.5s ease-in-out,
    margin-top 0.5s ease-in-out;
  transition-delay: calc(0.3s * var(--i));
  opacity: 1;
  transform: scale(1) translateY(0);
  margin-bottom: 0;
  -webkit-transform: scale(1) translateY(0);
  -moz-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  -o-transform: scale(1) translateY(0);
  -webkit-transition: opacity 1s ease-in-out, transform 0.5s ease-in-out,
    margin-top 0.5s ease-in-out;
  -moz-transition: opacity 1s ease-in-out, transform 0.5s ease-in-out,
    margin-top 0.5s ease-in-out;
  -ms-transition: opacity 1s ease-in-out, transform 0.5s ease-in-out,
    margin-top 0.5s ease-in-out;
  -o-transition: opacity 1s ease-in-out, transform 0.5s ease-in-out,
    margin-top 0.5s ease-in-out;
}
#list .option:hover {
  background: #f2f2f2;
}
#list .option:nth-child(1) {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#list .option:nth-child(4) {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.option .icon {
  font-size: 25px;
  margin-right: 12px;
}
.option .option-text {
  font-size: 18px;
  color: #333;
}

/* insta stuff */

#window_2 {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  transform: translate(-50%, -50%) scale(0);
  background: var(--background);
  /* background-image: url(../achraf/images/background_window.png);
  background-repeat: no-repeat;
  background-size: cover; */
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -moz-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  -o-transform: translate(-50%, -50%) scale(0);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  display: none;
  visibility: hidden;
}
#window_2 .close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #e4e4e4;
  color: #000;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#window_2.active {
  display: block;
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
  opacity: 1;
}

.hero_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13.5%;
}
.hero_2 .selector2 {
  position: absolute;
  top: 7%;
  left: 20%;
  height: 25%;
  width: 59%;
  background: transparent;
  color: black;
  padding: 30px;
  font-weight: 500;
  font-size: 1.5rem;
}
.selector2 .prixbuy_2 a {
  font-family: "Poppins", sans-serif;
  color: white;
  background: white;
  text-transform: uppercase;
  position: relative;
  font-size: 0.5em;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-decoration: none;
  padding: 5px 10px;
  transition: 0.01s 0.23s ease-out all;
}
.selector2 .prixbuy_2 a:hover {
  background: var(--primary-color);
  color: var(--primary-color);
  letter-spacing: 0.2em;
  box-shadow: 0 0 35px var(--primary-color);
}
.selector2 .prixbuy_2 a::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #000000;
}
.selector2 .prixbuy_2 a span {
  position: relative;
  z-index: 1;
}
.selector2 .prixbuy_2 a i {
  position: absolute;
  inset: 0;
  display: block;
}
.selector2 .prixbuy_2 a i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: #ffffff;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}
.selector2 .prixbuy_2 a:hover i::before {
  left: 20%;
  width: 20px;
}
.selector2 .prixbuy_2 a i::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background: #ffffff;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}
.selector2 .prixbuy_2 a:hover i::after {
  left: 80%;
  width: 20px;
}

.signature {
  position: fixed;
  font-family: sans-serif;
  font-weight: 100;
  bottom: 10px;
  left: 0;
  letter-spacing: 4px;
  font-size: 10px;
  width: 100%;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
.selector_2 {
  width: 380px;
  margin: 150px auto;
}

.selector_2 #selectfield_2 {
  position: relative;
  top: -130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  background: #fff;
  color: #000;
  font-size: 18px;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
#selectfield_2 .icon-arrow_2 {
  font-size: 25px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
#selectfield_2.active .icon-arrow_2 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.selector_2 #list_2 {
  position: absolute;
  width: 380px;
  transform: translateY(-140px);
  margin-top: 20px;
  -webkit-transform: translateY(-140px);
  -moz-transform: translateY(-140px);
  -ms-transform: translateY(-140px);
  -o-transform: translateY(-140px);
}
#list_2 .option_2 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
  background: #fff;
  padding: 0 16px;
  cursor: pointer;
  transform-origin: top;
  opacity: 0;
  transform: scale(0) translateY(-65px);
  margin-bottom: -55px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    margin-bottom 0.6s ease-in-out;
  transition-delay: calc(0.1s * var(--i));
  -webkit-transform: scale(0) translateY(-65px);
  -moz-transform: scale(0) translateY(-65px);
  -ms-transform: scale(0) translateY(-65px);
  -o-transform: scale(0) translateY(-65px);
  -webkit-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    margin-bottom 0.6s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    margin-bottom 0.6s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    margin-bottom 0.6s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    margin-bottom 0.6s ease-in-out;
}
#selectfield_2.active ~ #list_2 .option_2 {
  transition: opacity 1s ease-in-out, transform 0.5s ease-in-out,
    margin-top 0.5s ease-in-out;
  transition-delay: calc(0.3s * var(--i));
  opacity: 1;
  transform: scale(1) translateY(0);
  margin-bottom: 0;
  -webkit-transform: scale(1) translateY(0);
  -moz-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  -o-transform: scale(1) translateY(0);
  -webkit-transition: opacity 1s ease-in-out, transform 0.5s ease-in-out,
    margin-top 0.5s ease-in-out;
  -moz-transition: opacity 1s ease-in-out, transform 0.5s ease-in-out,
    margin-top 0.5s ease-in-out;
  -ms-transition: opacity 1s ease-in-out, transform 0.5s ease-in-out,
    margin-top 0.5s ease-in-out;
  -o-transition: opacity 1s ease-in-out, transform 0.5s ease-in-out,
    margin-top 0.5s ease-in-out;
}
#list_2 .option_2:hover {
  background: #f2f2f2;
}
#list_2 .option_2:nth-child(1) {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#list_2 .option_2:nth-child(4) {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.option_2 .icon_2 {
  font-size: 25px;
  margin-right: 12px;
}
.option_2 .option-text_2 {
  font-size: 18px;
  color: #333;
}

/* responsive style */

/* 600px => phones */
/* 768px => tablets */
/* 992px => laptops */
/* 1200px => large */
@media (max-width: 2561px) {
  .cleints_1 h2 {
    position: relative;
    color: rgb(0, 0, 0);
    margin: 200px;
    padding: 20px;
    font-size: 2.2rem;
    letter-spacing: 2px;
    font-weight: 700;
  }
}

@media (max-width: 1441px) {
  .cleints_1 h2 {
    position: relative;
    color: rgb(0, 0, 0);
    margin: 230px;
    padding: 20px;
    font-size: 2.2rem;
    letter-spacing: 2px;
    font-weight: 700;
  }

  #window {
    width: 80%;
    height: 80%;
  }

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15.5%;
  }
  #window_2 {
    width: 80%;
    height: 80%;
  }

  .hero_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15.5%;
  }
  /* .hero .selector1 {
    position: absolute;
    top: 8%;
    left: 30%;
    height: 25%;
    width: 39%;
    background: transparent;
    text-decoration: none;
    color: black;
    padding: 30px;
    font-weight: 500;
    font-size: 1.5rem;
  } */
}

@media (max-width: 1025px) {
  .cleints_1 h2 {
    position: relative;
    color: rgb(0, 0, 0);
    margin: 60px;
    padding: 20px;
    font-size: 2.2rem;
    letter-spacing: 2px;
    font-weight: 700;
  }
  #window {
    width: 80%;
    height: 60%;
  }

  .hero {
    margin-top: 15.5%;
  }
  #window_2 {
    width: 80%;
    height: 80%;
  }

  .hero_2 {
    margin-top: 20.5%;
  }
}
@media (max-width: 769px) {
  #window {
    width: 75%;
    height: 75%;
  }

  .hero {
    margin-top: 45.5%;
  }
  #window_2 {
    width: 75%;
    height: 75%;
  }

  .hero_2 {
    margin-top: 48.5%;
  }
}

@media (max-width: 426px) {
  .our-costumers_2 {
    width: 100%;
  }

  .our-costumers_2 .text-area_2 h4 {
    position: absolute;
    right: 330px;
    margin-top: -15px;
  }

  .our-costumers_2 h2 {
    font-size: 35px;
    text-align: center;
  }

  .our-costumers_2 span {
    font-size: 45px;
    color: var(--secondary-color);
  }

  .our-costumers_2 h3 {
    text-align: center;
    font-size: 15px;
    color: rgba(28, 26, 26, 0.674);
  }

  .our-costumers_4 {
    width: 100%;
  }

  .our-costumers_4 .text-area_4 h4 {
    position: absolute;
    right: 330px;
    margin-top: -15px;
  }

  .our-costumers_4 h2 {
    font-size: 35px;
    text-align: center;
  }

  .our-costumers_4 span {
    font-size: 45px;
  }

  .our-costumers_4 h3 {
    text-align: center;
    font-size: 15px;
    color: rgba(28, 26, 26, 0.674);
  }

  .our-costumers_5 {
    width: 100%;
  }

  .our-costumers_5 .text-area_5 h4 {
    position: absolute;
    right: 330px;
    margin-top: -15px;
  }

  .our-costumers_5 h2 {
    font-size: 35px;
    text-align: center;
  }

  .our-costumers_5 span {
    font-size: 45px;
  }

  .our-costumers_5 h3 {
    text-align: center;
    font-size: 15px;
    color: rgba(28, 26, 26, 0.674);
  }

  #window {
    width: 75%;
    height: 75%;
  }

  .hero {
    margin-top: 60%;
  }
  #window_2 {
    width: 75%;
    height: 75%;
  }

  .hero_2 {
    margin-top: 60%;
  }
}

@media (max-width: 376px) {
  .our-costumers_1 {
    width: 100%;
  }

  .our-costumers_1 .text-area_1 h4 {
    position: absolute;
    right: 320px;
    margin-top: -15px;
  }

  .our-costumers_1 h2 {
    font-size: 32px;
    text-align: center;
  }

  .our-costumers_1 span {
    font-size: 40px;
  }

  .our-costumers_1 h3 {
    text-align: center;
    font-size: 15px;
    color: rgba(28, 26, 26, 0.674);
  }

  .our-costumers_2 {
    width: 100%;
  }

  .our-costumers_2 .text-area_2 h4 {
    position: absolute;
    right: 300px;
    margin-top: -15px;
  }

  .our-costumers_2 h2 {
    font-size: 35px;
    text-align: center;
  }

  .our-costumers_2 span {
    font-size: 45px;
    color: var(--secondary-color);
  }

  .our-costumers_2 h3 {
    text-align: center;
    font-size: 15px;
    color: rgba(28, 26, 26, 0.674);
  }

  .our-costumers_4 {
    width: 100%;
  }

  .our-costumers_4 .text-area_4 h4 {
    position: absolute;
    right: 300px;
    margin-top: -15px;
  }

  .our-costumers_4 h2 {
    font-size: 35px;
    text-align: center;
  }

  .our-costumers_4 span {
    font-size: 45px;
  }

  .our-costumers_4 h3 {
    text-align: center;
    font-size: 15px;
    color: rgba(28, 26, 26, 0.674);
  }

  .our-costumers_5 {
    width: 100%;
  }

  .our-costumers_5 .text-area_5 h4 {
    position: absolute;
    right: 300px;
    margin-top: -15px;
  }

  .our-costumers_5 h2 {
    font-size: 30px;
    text-align: center;
  }

  .our-costumers_5 span {
    font-size: 35px;
  }

  .our-costumers_5 h3 {
    text-align: center;
    font-size: 15px;
    color: rgba(28, 26, 26, 0.674);
  }

  #window {
    width: 75%;
    height: 75%;
  }

  .hero {
    margin-top: 70%;
  }
  #window_2 {
    width: 75%;
    height: 75%;
  }

  .hero_2 {
    margin-top: 70%;
  }
}

@media (max-width: 321px) {
  .our-costumers_1 {
    width: 100%;
  }

  .our-costumers_1 .text-area_1 h4 {
    position: absolute;
    right: 270px;
    margin-top: -15px;
  }

  .our-costumers_1 h2 {
    font-size: 26px;
    text-align: center;
  }

  .our-costumers_1 span {
    font-size: 38px;
  }

  .our-costumers_1 h3 {
    text-align: center;
    font-size: 15px;
    color: rgba(28, 26, 26, 0.674);
  }

  .our-costumers_2 {
    width: 100%;
  }

  .our-costumers_2 .text-area_2 h4 {
    position: absolute;
    right: 240px;
    margin-top: -15px;
  }

  .our-costumers_2 h2 {
    font-size: 26px;
    text-align: center;
  }

  .our-costumers_2 span {
    font-size: 35px;
  }

  .our-costumers_2 h3 {
    text-align: center;
    font-size: 15px;
    color: rgba(28, 26, 26, 0.674);
  }

  .our-costumers_4 {
    width: 100%;
  }

  .our-costumers_4 .text-area_4 h4 {
    position: absolute;
    right: 250px;
    margin-top: -15px;
  }

  .our-costumers_4 h2 {
    font-size: 26px;
    text-align: center;
  }

  .our-costumers_4 span {
    font-size: 35px;
  }

  .our-costumers_4 h3 {
    text-align: center;
    font-size: 15px;
    color: rgba(28, 26, 26, 0.674);
  }

  .our-costumers_5 {
    width: 100%;
  }

  .our-costumers_5 .text-area_5 h4 {
    position: absolute;
    right: 240px;
    margin-top: -15px;
  }

  .our-costumers_5 h2 {
    font-size: 26px;
    text-align: center;
  }

  .our-costumers_5 span {
    font-size: 30px;
  }

  .our-costumers_5 h3 {
    text-align: center;
    font-size: 15px;
    color: rgba(28, 26, 26, 0.674);
  }

  #window {
    width: 85%;
    height: 45%;
  }

  .hero {
    margin-top: 80%;
  }
  #window_2 {
    width: 85%;
    height: 45%;
  }

  .hero_2 {
    margin-top: 80%;
  }
}
